* {
     /* border: 1px solid red;  */
    margin: 0px;
    padding: 0px;
}
body {
    width: 89vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    width: 177px;
    height: 50px;
}

.logo_menu {               /* Логотип и меню (фиксированное позиционирование) */
    width: 1160px;
    padding: 0 20px;
    margin:auto;
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
    background: #F4F0EC;
    position: sticky;
    top: 2px;
    z-index: 1;
}

nav {
    height: 62px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 40px;
    list-style: none;
    padding: 15px 0px;
}

.menu1 a {
    display: inline;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
/* identical to box height, or 150% */
    letter-spacing: 0.4px;
    color: #CDA274;
    text-decoration: none;
}

.menu2 a {
    display: inline;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
/* identical to box height, or 150% */
    letter-spacing: 0.4px;
    color: #292F36;
    text-decoration: none;
    }
    
.one_block {                       /*основное фото*/
    display: flex;      
    height: 831px;
    background: url(../images/room.png);
    border-radius: 0px 0px 0px 290px;
    display: block;
    margin-top: 18px;
    margin-left: -120px;
    margin-right: -120px;
}
.block_1 {
    width: 595px;
    height: 192px;
    padding-top: 188px;
    padding-left: 120px;
    font-family:
     'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 96px;
/* or 120% */
letter-spacing: 0.22px;
color: #292F36;
}

.block_2 {
    padding-left: 120px;
    padding-top: 19px;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height, or 150% */
letter-spacing: 0.22px;
color: #4D5053;
}

.one_block a {
    
    display: block;
    text-align: center;
    line-height: 71px;
    text-decoration: none;
    width: 207px;
    height: 71px;
    margin-left: 120px;
    margin-top: 35px;
    color: white;
    background: #292F36;
    border: 2px solid #292F36;
    border-radius: 18px;
}

.one_block a:hover {
   background-color: #cda274;
   color: white;
}
.threebloc {
    display: flex;
    gap: 90px;
    justify-content: center;
    margin-top: 100px;
}

.threebloc div {
    width: 317px;
}

.threebloc a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 145px;
    font-size: 18px;
    padding:10px;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
/* identical to box height, or 150% */
    letter-spacing: 0.36px;
    color: #4D5053;
    text-decoration: none;
}

.threebloc a:hover {
text-decoration: none;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

letter-spacing: 0.36px;
text-align: center;
color: #4D5053;
background-color: #cda274;
   color: white;
}

.threebloc h3 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    /* identical to box height, or 156% */
    letter-spacing: 0.22px;
    text-align: center;
    color: #292F36;
}

.threebloc p {
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* or 150% */
letter-spacing: 0.22px;
text-align: center;
color: #4D5053;
}

.twobloc{
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    position: relative;
}

.twobloc .bloc1 {
    width: 50%;
    text-align: center;
}

.twobloc .bloc1 h5 {
    font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 65px;
/* or 130% */
letter-spacing: 0.22px;
color: #292F36;
margin-top: 36px;
}

.twobloc .bloc1 p {
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* or 150% */
letter-spacing: 0.22px;
color: #4D5053;
margin-top: 36px;

}
.twobloc .bloc1 img {
    margin-top: 36px;
}

.twobloc .bloc1 a {
    width: 263px;
    height: 71px;
    display: block;
    text-decoration: none;
    line-height: 71px;
    background: #292F36;
border: 2px solid #292F36;
border-radius: 18px;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
/* identical to box height, or 150% */
letter-spacing: 0.72px;
color: #FFFFFF;

}
.twobloc .bloc1 a:hover {
    background-color: #cda274;
   color: white;
}

.twobloc .bloc2 {
    width: 50%;
}

.opinions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    background: #F4F0EC;
    border-radius: 70px;
} 

.opinions h3 {
    padding: 70px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    /* identical to box height, or 130% */
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
}

.opinions div {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.opinions article img {
    width: 77px;
    height: 77px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 20px;
    float: left;
}

.opinions h5 {
    margin-top: 55px;
    margin-bottom: 0;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
/* identical to box height, or 150% */
    letter-spacing: 0.22px;
    color: #292F36;
}

.opinions h6 {
    margin-top: 0px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    letter-spacing: 0.22px;
    color: #4D5053; 
    
}

.opinions p {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 32px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: 0.22px;
    color: #4D5053;  
}

.opinions article {
    width: 354px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-bottom: 121px;
    margin-top: 17px;
}

.partners{
    display: block;
    margin-top: 140px; 
    text-align: center;
}

.projects {               /* Примеры проектов 4 фото.*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px; 
    margin-top: 113px;

}

.projects h2 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 62px;
    /* identical to box height, or 133% */
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    width: 89vw;
}

.projects img {
   width: 590px;
}

.projects h4 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height, or 150% */
    letter-spacing: 0.22px;
    color: #292F36;
}
.text {
    display: block;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
/* identical to box height, or 150% */
    letter-spacing: 0.22px;
    color: #4D5053;
}


.projects p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
/* identical to box height, or 150% */
    letter-spacing: 0.22px;
    color: #4D5053;
}

.history img{
    display: block;
    margin-left: auto;
    margin-top: 140px;
    margin-right: auto;
    background: #F4F0EC;
   }

.recents {
    margin-top: 140px;
}

.recents div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 19px;
}

.recents article {
    padding: 20px;
    width: 345px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
}

.recents p {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    /* or 140% */
    text-align: center;
    letter-spacing: 0.5px;
    color: #292F36;
}

.recents h3 {
    font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 62px;
/* identical to box height, or 130% */
text-align: center;
letter-spacing: 0.22px;
color: #292F36;
}

.recents p {
        font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height, or 150% */
letter-spacing: 0.22px;
color: #4D5053;
}

.connect {
        margin-top: 170px;
        margin-left: auto;
        margin-right: auto;
        height: 310px;
        background: #292F36;
border-radius: 70px;
    }

.connect h5 {
    margin-top: 50px;
    margin-bottom: 9px;
    padding: 20px;
   font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.22px;
color: #FFFFFF;
}   

.connect h6 {
    margin-top: 20px;
    margin-bottom: 31px;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.22px;
color: #FFFFFF;
}

.connect a {
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 71px;
    width: 241px;
    height: 71px;
    margin-top: 31px;
    margin-bottom: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #CDA274;
border: 2px solid #CDA274;
box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
border-radius: 18px;
}

.connect a:hover {
    background-color: #edd5bb;
   color: black;
}

.footer {
    display: flex;
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    margin-top: 79px;
    justify-content: space-between;
}

.footer section {
    width: 17vw;
}

.footer section p {
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* or 150% */
letter-spacing: 0.22px;
padding: 10px;
color: #4D5053;
}

.footer section h4 {
    font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
letter-spacing: 0.22px;
padding: 10px;
color: #292F36;
}

.footer section img {
    margin-top: 33px;
    padding: 10px;
}

.last {
    text-align: center;
    margin-top: 70px;
}

.last span {
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.22px;
color: #4D5053;
}

.last .last_1 {
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.22px;
color: #CDA274;
}